<h1>Configuração de Peso</h1>

<h3>Tipo de transporte - Intervalo mínimo - Intervalo máximo - Valor</h3>
<% @weight_configs.each do |w| %>
  <div>
    <h3><%= w.transport_type.name %> - <%= w.minimum_range %>kg - <%= w.maximum_range %>kg - R$<%= w.value %></h3>
  </div>
<% end %>

<% if @weight_configs.empty? %>
  <p>Não existem configurações de peso</p>
<% end %>

<% if (current_user.admin?) %>
  <%= link_to 'Nova Configuração de Peso', new_weight_config_path%>
<% end %>


