<h1>Nova OS</h1>

<% if(@service_order.errors.any?)%>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @service_order.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @service_order) do |f| %>
  <div>
    <%= f.label :total_distance %>
    <%= f.number_field :total_distance %>
  </div>

  <h3>Produto</h3>
  <div>
    <%= f.label :product_weight %>
    <%= f.number_field :product_weight %>
  </div>

  <div>
    <%= f.label :product_width %>
    <%= f.number_field :product_width %>
  </div>

  <div>
    <%= f.label :product_height %>
    <%= f.number_field :product_height %>
  </div>

  <div>
    <%= f.label :product_depth %>
    <%= f.number_field :product_depth %>
  </div>

  <h3>Remetente</h3>
  <div>
    <%= f.label :sender_address_zip_code %>
    <%= f.text_field :sender_address_zip_code %>
  </div>

  <div>
    <%= f.label :sender_address_full_address %>
    <%= f.text_field :sender_address_full_address %>
  </div>
  
  <div>
    <%= f.label :sender_address_city %>
    <%= f.text_field :sender_address_city %>
  </div>

  <div>
    <%= f.label :sender_address_state %>
    <%= f.select :sender_address_state, ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'] %>
  </div>

  <h3>Destinatário</h3>
  <div>
    <%= f.label :destination_name %>
    <%= f.text_field :destination_name %>
  </div>

  <div>
    <%= f.label :destination_document %>
    <%= f.text_field :destination_document %>
  </div>

  <div>
    <%= f.label :destination_address_zip_code %>
    <%= f.text_field :destination_address_zip_code %>
  </div>

  <div>
    <%= f.label :destination_address_full_address %>
    <%= f.text_field :destination_address_full_address %>
  </div>
  
  <div>
    <%= f.label :destination_address_city %>
    <%= f.text_field :destination_address_city %>
  </div>

  <div>
    <%= f.label :destination_address_state %>
    <%= f.select :destination_address_state, ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'] %>
  </div>

  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end%>
  
